header{
  width: 100vw;
  height: 60px;
  background-color: var(--mainGreen);
  padding: 0 12px;
}
header .headerWrapper{
  width: calc(100% - 24px);
  height: 100%;
	display: flex;
	align-items: center;
}
.blank{
	flex-grow: 1;
}
.menuIcon{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.menuIcon > div{
  width: 30px;
  height: 6px;
  background-color: #fff;
}
.menuIcon > div:nth-child(2){
  margin: 6px 0;
}
.headerWrapper > ul{
  width: 90vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: aqua;
}
/* pc size */
@media (min-width: 1330px) {
header{
  width: 100vw;
  height: 90px;
  padding: 0;
  background-color: var(--mainGreen);
}
header .headerWrapper{
	width: 1330px;
  height: 90px;

	margin: 0 auto;
}
.menuIcon{
  display: none;
}
header .headerWrapper ul{
  width: auto;
  height: auto;
  text-align: right;
  position: static;
  background: transparent;
}
header .headerWrapper ul li{
  display: inline-block;
  margin: 0 5px;
  font-size: 15px;
}
header .headerWrapper ul li:last-child{
  margin-right: 0;
}
header .headerWrapper ul li a{
  box-sizing: border-box;
  width: 160px;
  height: 40px;
	display: flex;
	align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: var(--fontNonSetect);
}
header .headerWrapper ul li a:hover{
  border: 1px solid #fff;
  color: var(--fontWhite);
  font-weight: bold;
}
header .headerWrapper ul li a.select{
  background-color: #fff;
  color: var(--mainGreen);
  font-weight: bold;
  pointer-events: none;
}
}